---
import BlogCard from "./BlogCard.astro";
import type { CollectionEntry } from "astro:content";

interface BlogListProps {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<div class="w-full">
  {posts.map((post) => <BlogCard frontmatter={post} />)}
</div>
