---
import { Image } from "astro:assets";
import avatorImage from "../images/avatar.jpg";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { Github, Menu } from "lucide-preact";

import GithubSvg from "../images/svg/github.astro";
---

<style>
  header {
    height: 4.6875rem;
    width: 100%;
    background: var(--headerColor);
    display: flex;
    align-item: center;
  }
  .content {
    max-width: 64rem;
    margin: auto;
    padding: 0px 1.5rem 0px 1.5rem;
    width: 100%;
    display: flex;
    align-item: center;
    justify-content: space-between;
  }
  nav {
    display: flex;
    align-item: center;
  }
</style>

<header>
  <div class="content">
    <div class="my-auto">
      <Image
        class="rounded-full"
        src={avatorImage}
        alt="avator"
        width="36"
        height="36"
      />
    </div>
    <div class="flex items-center">
      <nav class="mr-5">
        <Navigation />
      </nav>
      <ThemeIcon class="ml-5" />
      <a class="ml-3 my-auto" href="https://github.com/ClarenceC">
        <GithubSvg />
      </a>
      <div class="md:hidden block">
        <Menu class="ml-3" strokeWidth={1.5} />
      </div>
    </div>
  </div>
</header>
